{% extends "../../base.twig" %}

{% block content %}
	<div class="container">
		<div class="col-md-6 offset-md-3">
			<form class="border p-3 bg-light" method="POST" action="/user">
				<div class="form-group">
					<label for="name">Meno</label>
					<input name="name" id="name" type="text" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input name="email" id="email" type="email" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="password">Heslo</label>
					<input name="password" id="password" type="password" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="phone_number">Tel. číslo</label>
					<input name="phone_number" id="phone_number" type="tel" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="country_code">Kód krajiny</label>
					<input name="country_code" id="country_code" type="text" class="form-control" placeholder="SK" value="SK" required>
				</div>

        {% if trainer %}
				<div class="form-group">
					<label for="role">role</label>
					<input id="role" type="text" class="form-control" value="TRAINER" disabled required>
          <input type="hidden" name="role" value="TRAINER">
				</div>
        {% else %}
					<input name="role" id="role" type="hidden" class="form-control" value="USER" disabled required>
        {% endif %}
				<button type="submit" class="btn btn-primary">Register</button>
			</form>
		</div>
	</div>
{% endblock %}
