<nav class="navbar navbar-light bg-light mb-5">
  <a class="navbar-brand">Fitness.sk</a>
  <div>
    <a href="/activity" class="btn btn-primary mx-1">Ísť na</a>
    <a href="/customer/login" class="btn btn-info mx-1">Prihlásiť sa</a>
    <a href="/customer/create" class="btn btn-success mx-1">Registrovať</a>
  </div>
</nav>