{% extends "../../base.twig" %}

{% block content %}

<div class="row">
    {% for activity in activities %}
        <div class="col-sm-6">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ activity.name }}</h5>
                <p class="card-text">
                    Dátum: {{ activity.start_date |date("d/m/Y")}} <br>
                    Čas začiatku: {{ activity.start_date |date("H:i:s") }}<br>
                    Čas konca: {{ activity.end_date |date("H:i:s") }}<br>
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}