<nav class="navbar navbar-light bg-light mb-5">
  <a class="navbar-brand">Fitness.sk</a>
  {% if user == null %}
    <div>
      <a href="/user/login" class="btn btn-info mx-1">Prihlásiť sa</a>
      <a href="/user/create" class="btn btn-success mx-1">Registrovať</a>
    </div>
  {% else %}
    <div>
      {% if user.role == 'TRAINER' %}
      <div class="dropdown d-inline">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Akcia
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/activity/create">Vytvoriť aktivitu</a>
          <a class="dropdown-item" href="/activityType/create">Vytvoriť typ aktivity</a>
          <hr>
          <a class="dropdown-item" href="/activity">Zobraziť aktivity</a>
        </div>
      </div>
      {% else %}
        <a href="/activity" class="btn btn-primary mx-1">Isť na</a>
      {% endif %}
      <a href="/logout" class="btn btn-success mx-1">Odhlásiť sa</a>
      <span style="font-size: 7px">{{ user.role }}</span>
    </div>
  {% endif %}
</nav>